.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}

body {
    background-color: #212121;
    color: #FFFFFF;
    font-family: 'Urbanist', sans-serif;
}